[Unit]
Description=lcd1-driver
After=syslog.target
After=network.target
After=rabbitmq-server.service

[Service]
Type=simple
EnvironmentFile=/etc/default/lcd1-driver
ExecStart=/www/lcd1-driver
WorkingDirectory=/www
StandardOutput=syslog
StandardError=syslog
User=www
Group=www
Restart=always
RestartSec=180
TimeoutSec=10


[Install]
WantedBy=multi-user.target
